body {
background-color: black;
margin:0;
width: 100%;
height: auto;
}

.title{
	position: fixed;
	top:0px;
	left: -70px;
	width: 1000px;
	z-index:3;
}

.donut{
	position: fixed;
	left: 300px;
	width: 400px;
}

.pizza{
	position: fixed;
	left: 600px;
	width: 400px;
}

.corndog{
	position: fixed;
	left: 1200px;
	width: 400px;
}

.icecream{
	position: fixed;
	left: 900px;
	width: 400px;

}

.pistachio{
	position: fixed;
	left: 1300px;
	width: 400px;

}

.strawberry{
	position: fixed;
	left: 500px;
	width: 400px;

}

.donut3{
	position: fixed;
	left: 700px;
	width: 400px;
}

.pizza2{
	position: fixed;
	left: 200px;
	width: 400px;
}

.corndog2{
	position: fixed;
	left: 700px;
	width: 400px;
}

.icecream2{
	position: fixed;
	left: 1200px;
	width: 500px;
	transform:rotate(180deg);
}



.curtains{

margin-top: 0;
margin: 0;
height: auto;
width: 60%;

}

.background{
	position: absolute;
	top: 0;
	width: 80%;
	left:10%;
	margin: 0;
}